body{
  padding-top: 50px;
}
main{
  min-height: 600px;
}
.navbar-brand{
  color: #ffffff !important;
}
#messages{
  margin-bottom: 0px; position: absolute; width: 100%; text-align: center;
}
#messages ul {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  list-style: none;
}
#messages .success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#messages .error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#messages .info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

footer{
  background: #f4f4f4;
  height: 40px;
  text-align: center;;
  margin-top: 30px;
  padding-top: 10px;
  overflow: auto;
}
.errors li{margin-left: 20px;}
.clear{
  clear:both;
}